<!DOCTYPE html>
<html>

  <% include ../parts/head.ejs %>

  <body>
    <div id="container">
      <div id="nav">
      </div>
      <div id="header">
        <h1>Login</h1>
      </div>
      <div id="content">
        <form name="sudoLogin" action="/sLogin" method="post">
          Name: <input name="name" id="name"><br />
          Email: <input name="email" id="email"><br />
          <input type="submit" value="Log In">
        </form>
      </div>
      <div id="footer">
        <script>
          $("#sudoLogin").submit(function(event) {
            $.post('/sLogin', $("sudoLogin").serialize(), function(data) {
              console.log(data)
            });
          });
        </script>
      </div>
    </div>
  </body>

</html>