<!DOCTYPE html>
<html>

  <% include ../parts/head.ejs %>

  <body>
    <div id="container">
      <div id="nav">
        <% include ../parts/nav.ejs %>
      </div>
      <div id="header">
        <h1>Users</h1>
      </div>
      <div id="content">
        <table>
          <tr id="tableHead">
            <th class="userEmail">
              <h4>User Email</h4>
            </th>
            <th class="userId">
              <h4>User ID</h4>
            </th>
            <th class="userDate">
              <h4>User Created Date</h4>
            </th>
            <th class="userRole">
              <h4>User Qualification Rank</h4>
            </th>
            <th class="userLocation">
              <h4>User Location</h4>
            </th>
          </tr>
          <tr id="user1">
            <td class="userEmail">
              <h4 id="email">sholmes@bakerst.uk</h4>
              <h5 id="name">Sherlock Holmes</h5>
            </td>
            <td class="userId">
              <h4 id="idNum">B221001</h4>
            </td>
            <td class="userDate">
              <h4 id="createDate"> 07/25/1887 </h4>
            </td>
            <td class="userRole">
              <h4 id="rank">Admin</h4>
              <h5 id="role">Consulting Detective</h5>
            </td>
            <td class="userLocation">
              <h4 id="city">London, UK</h4>
            </td>
          </tr>
          <tr id="user2">
            <td class="userEmail">
              <h4 id="email">jwatson@bakerst.uk</h4>
              <h5 id="name">Dr. John Watson</h5>
            </td>
            <td class="userId">
              <h4 id="idNum">B221002</h4>
            </td>
            <td class="userDate">
              <h4 id="createDate"> 07/25/1887 </h4>
            </td>
            <td class="userRole">
              <h4 id="rank">Admin</h4>
              <h5 id="role">Army Doc</h5>
            </td>
            <td class="userLocation">
              <h4 id="city">London, UK</h4>
            </td>
          </tr>
          <tr id="user3">
            <td class="userEmail">
              <h4 id="email">mholmes@gov.uk</h4>
              <h5 id="name">Mycroft Holmes</h5>
            </td>
            <td class="userId">
              <h4 id="idNum">B221003</h4>
            </td>
            <td class="userDate">
              <h4 id="createDate"> 07/25/1887 </h4>
            </td>
            <td class="userRole">
              <h4 id="rank">Admin</h4>
              <h5 id="role">British Government</h5>
            </td>
            <td class="userLocation">
              <h4 id="city">Unknown</h4>
            </td>
          </tr>
          <tr id="user4">
            <td class="userEmail">
              <h4 id="email">moriarty@criminal.uk</h4>
              <h5 id="name">James Moriarty</h5>
            </td>
            <td class="userId">
              <h4 id="idNum">B221004</h4>
            </td>
            <td class="userDate">
              <h4 id="createDate"> 07/25/2010 </h4>
            </td>
            <td class="userRole">
              <h4 id="rank">Admin</h4>
              <h5 id="role">Consulting Criminal</h5>
            </td>
            <td class="userLocation">
              <h4 id="city">Unknown</h4>
            </td>
          </tr>
          <tr id="user5">
            <td class="userEmail">
              <h4 id="email">mmwatson@agra.uk</h4>
              <h5 id="name">Mary Morstan Watson</h5>
            </td>
            <td class="userId">
              <h4 id="idNum">B221005</h4>
            </td>
            <td class="userDate">
              <h4 id="createDate"> 07/25/2010 </h4>
            </td>
            <td class="userRole">
              <h4 id="rank">Admin</h4>
              <h5 id="role"><span id="redacted">Assassin</span>Nurse</h5>
            </td>
            <td class="userLocation">
              <h4 id="city">London, UK</h4>
            </td>
          </tr>
        </table>
      </div>
      <div id="footer">

      </div>
    </div>

  </body>

</html>