<!DOCTYPE html>
<html>

  <% include ../parts/head.ejs %>

  <body>
    <div id="container">
      <div id="nav">
        <% include ../parts/nav.ejs %>
      </div>
      <div id="header">
        <h1>workers</h1>
      </div>
      <div id="content">
        <table>
          <tr id="tableHead">
            <th class="workerEmail">
              <h4>worker Email</h4>
            </th>
            <th class="workerId">
              <h4>worker ID</h4>
            </th>
            <th class="workerDate">
              <h4>Worker Created Date</h4>
            </th>
            <th class="workerRank">
              <h4>Worker Qualification Rank</h4>
            </th>
            <th class="workerLocation">
              <h4>Worker Location</h4>
            </th>
          </tr>
          <tr id="worker1">
            <td class="workerEmail">
              <h4 id="email">glestrade@scotlandyard.uk</h4>
              <h5 id="name">D.I. Greg Lestrade</h5>
            </td>
            <td class="workerId">
              <h4 id="idNum">W123401</h4>
            </td>
            <td class="workerDate">
              <h4 id="createDate"> 07/25/2010 </h4>
            </td>
            <td class="workerRank">
              <h4 id="rank">Gold</h4>
            </td>
            <td class="workerLocation">
              <h4 id="city">London, UK</h4>
            </td>
          </tr>
          <tr id="worker2">
            <td class="workerEmail">
              <h4 id="email">sdonovan@scotlandyard.uk</h4>
              <h5 id="name">Sgt. Sally Donovan</h5>
            </td>
            <td class="workerId">
              <h4 id="idNum">W123402</h4>
            </td>
            <td class="workerDate">
              <h4 id="createDate"> 07/25/2010 </h4>
            </td>
            <td class="workerRank">
              <h4 id="rank">Silver</h4>
            </td>
            <td class="workerLocation">
              <h4 id="city">London, UK</h4>
            </td>
          </tr>
          <tr id="worker3">
            <td class="workerEmail">
              <h4 id="email">panderson@theemptyhearse.uk</h4>
              <h5 id="name">Philip Anderson</h5>
            </td>
            <td class="workerId">
              <h4 id="idNum">W123403</h4>
            </td>
            <td class="workerDate">
              <h4 id="createDate"> 07/25/2010 </h4>
            </td>
            <td class="workerRank">
              <h4 id="rank">Bronze</h4>
            </td>
            <td class="workerLocation">
              <h4 id="city">London, UK</h4>
            </td>
          </tr>
          <tr id="worker4">
            <td class="workerEmail">
              <h4 id="email">mhooper@stbartholomews.uk</h4>
              <h5 id="name">Molly Hooper</h5>
            </td>
            <td class="workerId">
              <h4 id="idNum">W123404</h4>
            </td>
            <td class="workerDate">
              <h4 id="createDate"> 07/25/2010 </h4>
            </td>
            <td class="workerRank">
              <h4 id="rank">Gold</h4>
            </td>
            <td class="workerLocation">
              <h4 id="city">London, UK</h4>
            </td>
          </tr>
          <tr id="worker5">
            <td class="workerEmail">
              <h4 id="email">hudson@bakerst.uk</h4>
              <h5 id="name">Mrs. Hudson</h5>
            </td>
            <td class="workerId">
              <h4 id="idNum">W123405</h4>
            </td>
            <td class="workerDate">
              <h4 id="createDate"> 07/25/2010 </h4>
            </td>
            <td class="workerRank">
              <h4 id="rank">Silver</h4>
            </td>
            <td class="workerLocation">
              <h4 id="city">London, UK</h4>
            </td>
          </tr>
          <tr id="worker6">
            <td class="workerEmail">
              <h4 id="email">iadler@thewoman.uk</h4>
              <h5 id="name">Irene Adler</h5>
            </td>
            <td class="workerId">
              <h4 id="idNum">W123406</h4>
            </td>
            <td class="workerDate">
              <h4 id="createDate"> 01/01/2012 </h4>
            </td>
            <td class="workerRank">
              <h4 id="rank">Gold</h4>
            </td>
            <td class="workerLocation">
              <h4 id="city">London, UK</h4>
            </td>
          </tr>
        </table>
      </div>
      <div id="footer">

      </div>
    </div>

  </body>

</html>